.idea
data

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.scannerwork
.coverage
db.env
.env
venv/

.vscode/*
!.vscode/extensions.json

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv

